.react-flow__node-base {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 50%);
  border-radius: 0;
}

.react-flow__handle {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

.handle {
  width: 8px;
  height: 8px;
  background: #224466;
}

.label {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  word-break: break-all;
}

.label {
  flex-grow: 1;
}

.handles-side {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.handles-side-top,
.handles-side-bottom {
  left: 12px;
  width: calc(100% - 24px);
  height: 10px;
}

.handles-side-left,
.handles-side-right {
  top: 12px;
  width: 10px;
  height: calc(100% - 24px);
}

.handles-side-top {
  top: -4px;
}

.handles-side-right {
  right: -4px;
}

.handles-side-bottom {
  bottom: -4px;
}

.handles-side-left {
  left: -4px;
}
